/**
 * @name 		```.search-input```
 * Display the interactive search input when clicking on the search icon
 * @styleguide 		Objects / Search input
 * @example 		html
 * <div style="font-size:26px">
 * <form class="search-input" id="search" method="GET" action="#">
 * 	<a href="#search" is="s-activate" history="false" toggle>
 * 		<i class="icon-search"></i>
 * 	</a><input type="text" name="search" placeholder="Search..." />
 * </form>
 * <i class="icon-pin-localisation"></i>
 * </div>
 */
.search-input {
	@include s-transition();
	display:inline-block;
	height:1.2em;
	line-height:1.2em;
	position: relative;
	// top:-.2em;
	padding:0;

	&:before {
		@include s-transition();
		opacity: 0;
		content:'';
		display:block;
		position:absolute;
		top:0; left:0;
		width:100%; height:100%;
		border:1px solid s-color(text);
		border-radius:.7em;
		pointer-events: none;
	}

	a {
		display:inline-block;
		font-size:inherit;
		@include s-transition();
		position:relative;
		top:.05em;
	}
	input {
		width: 0;
		outline:none;
		border:none;
		font-size:0.5em;
		background:none;
		padding:.25em 0;
		height:2.5em;
		line-height: 1em;
		position: relative;
		top:0;
		vertical-align: top;
		@include s-transition();
	}

	&.active {
		padding:0 .4em;

		&::before {
			opacity:1;
		}
		a {
			color: s-color(text) !important;
		}

		input {
			width:s-rem(160px);
			padding:.25em .2em;
		}
	}
}
